// colors
$accentColor = #3eaf7c
$textColor = #2c3e50
$codeBgColor = #282c34
$arrowBgColor = #ccc

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$testWidth = 100%

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

.theme-default-content
	max-width: 75%
	
.tabs-component-panel
	&#test
		position: relative
		width: 141%
		left: -22%
		background: url('/graph-paper.svg')
		background-size: 80px !important
		margin: 20px 0 0 0
		border-bottom: 1px solid #efefef
		padding: 5% 10%

td code
	line-height: 2rem

.block
	@apply px-8 pt-1 pb-6;